$primary-colour: #00f;
$secondary-colour: #ddd;
$heading-colour: red;

body{
    background-color: $secondary-colour;
    color: $primary-colour;
}

h1{
    color: $heading-colour;
}

// $local-variable: 20px; 


.container {
    $local-variable: 10px;
    margin: $local-variable;
  }

  $local-variable: 30px !default;

  h2 {
    font-size: $local-variable;
  }